.coffe {
      background: linear-gradient(90deg, $primary 0%, $primary 50%, #f9fbff 50%, #f9fbff 100%);
      overflow: hidden;
}
.coffe-container {
      position: relative;
      background: linear-gradient(90deg, $primary 0%, $primary 25%, #f9fbff 25%, #f9fbff 100%);
      padding: 90px 0 130px 130px;
      @include flex(column, $align: start);

      h4 {
            width: 100%;
            text-align: center;
            margin-bottom: 6px;
      }
      h2 {
            width: 100%;
            text-align: center;
            margin-bottom: 72px;
      }
      .coffe__slider {
            position: relative;
            height: 544px;
            width: 200%;
            left: 0;
            @include flex(column, $gap: 32px);
            overflow: hidden;

            .slider__top{
                  top: 0;
            }
            .slider__bottom{
                  bottom: 0;
            }
            .coffe__slides {
                  position: absolute;
                  left: 0;
                  @include flex($gap: 30px);
                  transition: .5s;
            }
            .slider__card {
                  @include flex();
                  width: 560px;
                  height: 256px;
                  background-color: #fff;
                  transition: .5s;

                  img {
                        object-fit: cover;
                  }
                  .card__content {
                        padding: 42px;
                        min-width: 330px;
                        height: 100%;
                        @include flex($just: start);
                        flex-wrap: wrap;
                        transition: .5s;

                        .price {
                              width: 100%;
                              margin-bottom: 8px;
                        }
                        h3 {
                              width: 100%;
                              color: #232c38;
                              margin-bottom: 24px;
                        }
                        .description {
                              width: 100%;
                              height: 40px;
                              color: $dark;
                              margin-bottom: 18px;
                        }
                        .btn {
                              margin-right: 5px;
                        }
                  }
                  &.half-hide{
                        opacity: .5;
                  }
                  &.hide{
                        opacity: 0;
                  }
            }
      }
      .coffe__slide-right {
            cursor: pointer;
            @include flex();
            position: absolute;
            right: 66px;
            bottom: 375px;
            width: 48px;
            height: 48px;
            background: $accent-1;
            border-radius: 100%;
            transition: .5s;
            
            img {
                  width: 24px;
                  height: 17px;
            }
            &:hover{
                  background: #a8815a;
            }
      }
}
