.giftset {
      background: linear-gradient(90deg, $light 0%, $light 50%, #f9fbff 50%, #f9fbff 100%);
}
.giftset-container {
      background: linear-gradient(90deg, $light 0%, $light 75%, #f9fbff 75%, #f9fbff 100%);
      padding: 86px 130px 125px 130px;
      @include flex(row, end);
      flex-wrap: wrap;

      h4 {
            width: 100%;
            text-align: center;
            margin-bottom: 6px;
      }
      h2 {
            width: 100%;
            text-align: center;
            margin-bottom: 66px;
      }
      .giftset__gifts {
            overflow: hidden;
            position: relative;
            width: 1052px;
            height: 460px;

            .gifts__gift {
                  position: absolute;
                  display: block;
                  background: #dadada;
                  width: 796px;
                  height: 100%;
                  top: -100%;
                  right: 0;
                  transition: .5s;

                  &.active {
                        top: 0%;
                  }
                  .gift__img {
                        position: absolute;
                        width: 463px;
                        height: 416px;
                        bottom: 0;
                        left: -256px;
                  }
                  .gift__content {
                        padding: 64px;
                        padding-left: 300px;
                        width: 100%;
                        height: 100%;
                        @include flex($just: space-between);
                        flex-wrap: wrap;

                        .price {
                              width: 100%;
                              margin-bottom: 12px;
                        }
                        h3 {
                              width: 100%;
                              margin-bottom: 12px;
                        }
                        .gift__coffe-type,
                        .gift__mountains {
                              @include flex($just: space-between);
                              height: 40px;
                              margin-top: 24px;
                              margin-bottom: 46px;

                              img {
                                    width: 40px;
                              }
                              h4 {
                                    text-align: start;
                                    font-size: 16px;

                                    span {
                                          font-weight: 300;
                                    }
                              }
                        }
                        .btn {
                              text-align: center;
                              width: 166px;
                        }
                  }
            }
      }
      .giftset__controls {
            width: 87px;
            height: 460px;
            margin-left: 1px;
            @include flex(column);

            .giftset__control {
                  cursor: pointer;
                  @include flex();
                  width: 100%;
                  height: calc(100% / 3);
                  background: $light;
                  opacity: 0.3;
                  transition: 0.5s;

                  h2 {
                        margin-bottom: 0;
                  }
                  &.active {
                        opacity: 1;
                  }
            }
      }
}
