header {
      background: linear-gradient(90deg, #F9FBFF 0%, #F9FBFF 50%, $primary 50%, $primary 100%);
}
.header-container {
      @include flex($align: start);
      height: 768px;

      .header-left {
            position: relative;
            min-height: 100%;
            flex: 1;
            padding-top: 72px;
            padding-left: 130px;
            z-index: 10;

            img {
                  width: 110px;
            }
            .header-left__title {
                  position: absolute;
                  left: 130px;
                  bottom: 64px;

                  span {
                        padding: 0 15px;

                        &:nth-child(2) {
                              background: $accent-1;
                              color: $accent-2;
                        }
                  }
            }
      }
      .header-center {
            position: relative;
            @include flex();
            flex: 2;
            height: 100%;
            overflow: hidden;

            .header-center__video {
                  position: absolute;
                  top: 0;
                  object-fit: cover;
            }
            .header-center__play,
            .header-center__overflow {
                  visibility: visible;
                  opacity: 1;
                  transition: 0.5s;

                  &.hide {
                        visibility: hidden;
                        opacity: 0;
                  }
            }
            .header-center__play {
                  cursor: pointer;
                  position: absolute;
                  @include flex();
                  width: 54px;
                  height: 54px;
                  border-radius: 100%;
                  background-color: $accent-2;
                  z-index: 10;

                  path {
                        transition: 0.5s;
                  }
                  &:hover path {
                        fill: $primary;
                  }
            }
            .header-center__overflow {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background: rgba($color: $dark, $alpha: 0.5);
            }
      }
      .header-right {
            flex: 1;
            padding-top: 74px;
            padding-left: 54px;

            .header-right__cart {
                  cursor: pointer;
                  position: relative;
                  width: 34px;
                  height: 34px;
                  padding-top: 10px;
                  padding-right: 10px;
                  margin-bottom: 120px;

                  .cart__count {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        @include flex();
                        font-size: 0.88rem;
                        font-weight: 300;
                        color: $accent-2;
                        background-color: $accent-1;
                  }
            }
            .header-right__nav {
                  @include flex(column, start, start, 30px);

                  .nav__title {
                        font-size: 16px;
                        font-weight: 700;
                        color: $light;
                  }
                  .nav__list {
                        @include flex(column, space-between, start);
                        height: 225px;

                        .nav__item a{
                              cursor: pointer;
                              display: flex;
                              color: $light;
                              font-weight: 300;
                              line-height: 24px;
                              transition: .5s;

                              &:hover{
                                    color: $accent-1;
                              }
                        }
                  }
            }
      }
}
