.btn {
      width: fit-content;
      color: $accent-2;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      line-height: 20px;
      padding: 6px 17px 8px 17px;
      background: $accent-1;
      border-radius: 17px;
}
