h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 3.38rem;
      font-weight: 900;
      line-height: 70px;
      text-transform: uppercase;
}
h2{
      font-family: "Montserrat", sans-serif;
      font-size: 1.88rem;
      font-weight: 900;
      line-height: 34px;
      text-transform: uppercase;
}
h3{
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 28px;
}
h4, .price{
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 24px;
}
.description{
      font-weight: 300;
      font-style: italic;
}