@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
      color: $primary;
      text-decoration: none;
}
html {
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
}
body {
      position: relative;
      background: #F9FBFF;

      &.modal-active {
            height: 100vh;
            overflow: hidden;
      }
}
img {
      width: 100%;
      height: 100%;
      object-fit: contain;
}
a {
      text-decoration: none;
}
