@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: #415167;
  text-decoration: none;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

body {
  position: relative;
  background: #F9FBFF;
}
body.modal-active {
  height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1404px;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.38rem;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.88rem;
  font-weight: 900;
  line-height: 34px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
}

h4, .price {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
}

.price {
  color: #c7a17a;
}

.description {
  font-weight: 300;
  font-style: italic;
}

.btn {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  color: #f9f5e8;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  padding: 6px 17px 8px 17px;
  background: #c7a17a;
  border-radius: 17px;
  transition: 0.5s;
}
.btn.btn-light {
  color: #415167;
  background: transparent;
  padding: 6px 11px 8px 11px;
}
.btn.btn-light:hover {
  background: #c7a17a;
  color: #f9f5e8;
}
.btn:hover {
  background: #a8815a;
}

header {
  background: linear-gradient(90deg, #F9FBFF 0%, #F9FBFF 50%, #415167 50%, #415167 100%);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: unset;
  height: 768px;
}
.header-container .header-left {
  position: relative;
  min-height: 100%;
  flex: 1;
  padding-top: 72px;
  padding-left: 130px;
  z-index: 10;
}
.header-container .header-left img {
  width: 110px;
}
.header-container .header-left .header-left__title {
  position: absolute;
  left: 130px;
  bottom: 64px;
}
.header-container .header-left .header-left__title span {
  padding: 0 15px;
}
.header-container .header-left .header-left__title span:nth-child(2) {
  background: #c7a17a;
  color: #f9f5e8;
}
.header-container .header-center {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  flex: 2;
  height: 100%;
  overflow: hidden;
}
.header-container .header-center .header-center__video {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-container .header-center .header-center__play,
.header-container .header-center .header-center__overflow {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.header-container .header-center .header-center__play.hide,
.header-container .header-center .header-center__overflow.hide {
  visibility: hidden;
  opacity: 0;
}
.header-container .header-center .header-center__play {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background-color: #f9f5e8;
  z-index: 10;
}
.header-container .header-center .header-center__play path {
  transition: 0.5s;
}
.header-container .header-center .header-center__play:hover path {
  fill: #415167;
}
.header-container .header-center .header-center__overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(21, 29, 40, 0.5);
}
.header-container .header-right {
  flex: 1;
  padding-top: 74px;
  padding-left: 54px;
}
.header-container .header-right .header-right__cart {
  cursor: pointer;
  position: relative;
  width: 34px;
  height: 34px;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 120px;
}
.header-container .header-right .header-right__cart .cart__count {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  font-size: 0.88rem;
  font-weight: 300;
  color: #f9f5e8;
  background-color: #c7a17a;
}
.header-container .header-right .header-right__nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}
.header-container .header-right .header-right__nav .nav__title {
  font-size: 16px;
  font-weight: 700;
  color: #edf0f5;
}
.header-container .header-right .header-right__nav .nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: unset;
  height: 225px;
}
.header-container .header-right .header-right__nav .nav__list .nav__item {
  cursor: pointer;
  display: flex;
  color: #edf0f5;
  font-weight: 300;
  line-height: 24px;
  transition: 0.5s;
}
.header-container .header-right .header-right__nav .nav__list .nav__item:hover {
  color: #c7a17a;
}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
  max-width: 1000px;
  margin: auto;
  margin-top: 87px;
  margin-bottom: 130px;
}
.features-container h4 {
  margin-bottom: 8px;
}
.features-container h2 {
  margin-bottom: 115px;
}
.features-container .features__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
}
.features-container .features__list .features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
  width: 225px;
  height: 250px;
}
.features-container .features__list .features__item img {
  width: 80px;
  height: 80px;
  margin-top: 17px;
  margin-bottom: 40px;
}
.features-container .features__list .features__item h3 {
  color: #232C38;
  margin-bottom: 12px;
}
.features-container .features__list .features__item p {
  color: #151D28;
  text-align: center;
  font-style: normal;
}

.coffe {
  background: linear-gradient(90deg, #415167 0%, #415167 50%, #f9fbff 50%, #f9fbff 100%);
  overflow: hidden;
}

.coffe-container {
  position: relative;
  background: linear-gradient(90deg, #415167 0%, #415167 25%, #f9fbff 25%, #f9fbff 100%);
  padding: 90px 0 130px 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: unset;
}
.coffe-container h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}
.coffe-container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 72px;
}
.coffe-container .coffe__slider {
  position: relative;
  height: 544px;
  width: 200%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  overflow: hidden;
}
.coffe-container .coffe__slider .slider__top {
  top: 0;
}
.coffe-container .coffe__slider .slider__bottom {
  bottom: 0;
}
.coffe-container .coffe__slider .coffe__slides {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: 0.5s;
}
.coffe-container .coffe__slider .slider__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  width: 560px;
  height: 256px;
  background-color: #fff;
  transition: 0.5s;
}
.coffe-container .coffe__slider .slider__card:hover {
  box-shadow: 0px 4px 24px 0px rgba(205, 205, 205, 0.5);
}
.coffe-container .coffe__slider .slider__card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.coffe-container .coffe__slider .slider__card .card__content {
  padding: 42px;
  min-width: 330px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: unset;
  flex-wrap: wrap;
  transition: 0.5s;
}
.coffe-container .coffe__slider .slider__card .card__content .price {
  width: 100%;
  margin-bottom: 8px;
}
.coffe-container .coffe__slider .slider__card .card__content h3 {
  width: 100%;
  color: #232c38;
  margin-bottom: 24px;
}
.coffe-container .coffe__slider .slider__card .card__content .description {
  width: 100%;
  height: 40px;
  color: #151d28;
  margin-bottom: 18px;
}
.coffe-container .coffe__slider .slider__card .card__content .btn {
  margin-right: 5px;
}
.coffe-container .coffe__slider .slider__card.half-hide {
  opacity: 0.5;
}
.coffe-container .coffe__slider .slider__card.hide {
  opacity: 0;
}
.coffe-container .coffe__slide-right {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  position: absolute;
  right: 66px;
  bottom: 375px;
  width: 48px;
  height: 48px;
  background: #c7a17a;
  border-radius: 100%;
  transition: 0.5s;
}
.coffe-container .coffe__slide-right img {
  width: 24px;
  height: 17px;
}
.coffe-container .coffe__slide-right:hover {
  background: #a8815a;
}

.giftset {
  background: linear-gradient(90deg, #edf0f5 0%, #edf0f5 50%, #f9fbff 50%, #f9fbff 100%);
}

.giftset-container {
  background: linear-gradient(90deg, #edf0f5 0%, #edf0f5 75%, #f9fbff 75%, #f9fbff 100%);
  padding: 86px 130px 125px 130px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: unset;
  flex-wrap: wrap;
}
.giftset-container h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}
.giftset-container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 66px;
}
.giftset-container .giftset__gifts {
  overflow: hidden;
  position: relative;
  width: 1052px;
  height: 460px;
}
.giftset-container .giftset__gifts .gifts__gift {
  position: absolute;
  display: block;
  background: #dadada;
  width: 796px;
  height: 100%;
  top: -100%;
  right: 0;
  transition: 0.5s;
}
.giftset-container .giftset__gifts .gifts__gift.active {
  top: 0%;
}
.giftset-container .giftset__gifts .gifts__gift .gift__img {
  position: absolute;
  width: 463px;
  height: 416px;
  bottom: 0;
  left: -256px;
}
.giftset-container .giftset__gifts .gifts__gift .gift__content {
  padding: 64px;
  padding-left: 300px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  flex-wrap: wrap;
}
.giftset-container .giftset__gifts .gifts__gift .gift__content .price {
  width: 100%;
  margin-bottom: 12px;
}
.giftset-container .giftset__gifts .gifts__gift .gift__content h3 {
  width: 100%;
  margin-bottom: 12px;
}
.giftset-container .giftset__gifts .gifts__gift .gift__content .gift__coffe-type,
.giftset-container .giftset__gifts .gifts__gift .gift__content .gift__mountains {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  height: 40px;
  margin-top: 24px;
  margin-bottom: 46px;
}
.giftset-container .giftset__gifts .gifts__gift .gift__content .gift__coffe-type img,
.giftset-container .giftset__gifts .gifts__gift .gift__content .gift__mountains img {
  width: 40px;
}
.giftset-container .giftset__gifts .gifts__gift .gift__content .gift__coffe-type h4,
.giftset-container .giftset__gifts .gifts__gift .gift__content .gift__mountains h4 {
  text-align: start;
  font-size: 16px;
}
.giftset-container .giftset__gifts .gifts__gift .gift__content .gift__coffe-type h4 span,
.giftset-container .giftset__gifts .gifts__gift .gift__content .gift__mountains h4 span {
  font-weight: 300;
}
.giftset-container .giftset__gifts .gifts__gift .gift__content .btn {
  text-align: center;
  width: 166px;
}
.giftset-container .giftset__controls {
  width: 87px;
  height: 460px;
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
}
.giftset-container .giftset__controls .giftset__control {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  width: 100%;
  height: 33.3333333333%;
  background: #edf0f5;
  opacity: 0.3;
  transition: 0.5s;
}
.giftset-container .giftset__controls .giftset__control h2 {
  margin-bottom: 0;
}
.giftset-container .giftset__controls .giftset__control.active {
  opacity: 1;
}

.combo {
  background: linear-gradient(90deg, #f9fbff 0%, #f9fbff 50%, #415167 50%, #415167 100%);
  overflow: hidden;
}

.combo-container {
  position: relative;
  background: linear-gradient(90deg, #f9fbff 0%, #f9fbff 75%, #415167 75%, #415167 100%);
  padding: 88px 0 130px 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: unset;
}
.combo-container h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}
.combo-container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 64px;
}
.combo-container .combo__slider {
  position: relative;
  height: 562px;
  width: 200%;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}
.combo-container .combo__slider .combo__slides {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: 0.5s;
}
.combo-container .combo__slider .combo__slides .slider__card {
  width: 360px;
  height: 562px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
  background: #fff;
  transition: 0.5s;
}
.combo-container .combo__slider .combo__slides .slider__card:hover {
  box-shadow: 0px 4px 24px 0px rgba(205, 205, 205, 0.5);
}
.combo-container .combo__slider .combo__slides .slider__card img {
  width: 360px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.combo-container .combo__slider .combo__slides .slider__card .card__content {
  padding: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.combo-container .combo__slider .combo__slides .slider__card .card__content .price-crossed {
  text-decoration: line-through;
  margin-right: 125px;
}
.combo-container .combo__slider .combo__slides .slider__card .card__content .btn {
  margin-top: 22px;
}
.combo-container .combo__slider .combo__slides .slider__card.half-hide {
  opacity: 0.5;
}
.combo-container .combo__slider .combo__slides .slider__card.hide {
  opacity: 0;
}
.combo-container .combo__slide-right {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  position: absolute;
  right: 66px;
  bottom: 375px;
  width: 48px;
  height: 48px;
  background: #c7a17a;
  border-radius: 100%;
  transition: 0.5s;
}
.combo-container .combo__slide-right img {
  width: 24px;
  height: 17px;
}
.combo-container .combo__slide-right:hover {
  background: #a8815a;
}/*# sourceMappingURL=main.css.map */